<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Gestion des personnels</title>
		<meta name="description" content="Responsive Animated Border Menus with CSS Transitions" />
		<meta name="keywords" content="navigation, menu, responsive, border, overlay, css transition" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/icons.css" />
		<link rel="stylesheet" type="text/css" href="css/style5.css" />
		<link rel="stylesheet" type="text/css" href="css/table.css" />
		<script src="/js/modernizr.custom.js"></script>
		
	</head>
	<body>
			
		<div class="container">
			<header class="codrops-header">
				<h1>Liste des employés </h1>
				<table>
				  <tr>
				    <th class="">ID</th>
				    <th class="">Nom</th>
				    <th class="">Prenom</th>
				    <th class="">Date d'entrée<br></th>
				    <th class="">Poste</th>
					<th class="">Informations</th>
					<th class="">Modifier</th>
					<th class="">Supprimer</th>
				  </tr>
					<% for(var i=0; i<list.length; i++) { %>
				        <tr>
							<td><%=list[i]._id%></td>
							<td><%=list[i].nom%></td>
							<td><%=list[i].prenom%></td>
							<td width="30px"><%=list[i].entree%></td>
							<td><%=list[i].poste%></td>
							<td align="center"><a href="/collaborateurs/<%=list[i]._id%>"><img src="../fonts/display.png"></a></td>
							<td align="center"><a href="/collaborateurs/<%=list[i]._id%>/edit"><img src="../fonts/edit.png"></a></td>
							<td align="center"><a href="/collaborateurs/<%=list[i]._id%>/delete" ><img src="../fonts/delete.png" ></a></td>
				        </tr>
				    <% } %>
				</table>
				
				
			</header>
			<nav id="bt-menu" class="bt-menu">
				<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
				<ul>
					<li><a href="/collaborateurs">Liste</a></li>
					<li><a href="/collaborateurs/new">Ajouter</a></li>
					<li><a href="/statistiques">Statistiques</a></li>
					<li><a href="/accueil.html">About us</a></li>
				</ul>
				<ul>
					<li><a href="http://www.twitter.com/codrops" class="bt-icon icon-twitter">Twitter</a></li>
					<li><a href="https://plus.google.com/101095823814290637419" class="bt-icon icon-gplus">Google+</a></li>
					<li><a href="https://www.facebook.com/groups/marchombre/" class="bt-icon icon-facebook">Facebook</a></li>
					<li><a href="https://github.com/codrops" class="bt-icon icon-github">icon-github</a></li>
				</ul>
			</nav>
		</div><!-- /container -->
	</body>
	<script src="js/classie.js"></script>
	<script src="js/borderMenu.js"></script>
</html>